.container {
  label {
    margin-left: 20px;
  }

  .inputContainer {
    height: 40px;
    margin-bottom: 10px;

    border-radius: 10px;
    border: 1px solid #6dbfb5;
    background-color: #daedeb;
    padding: 0 20px;

    input {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      outline: none;
      font-size: 16px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: 999999s;
    }
  }
}
