.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
  }

  .studentNameAndAge, .studentCourseAndSchool {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  button {
    width: 180px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #0d4155;
    border-radius: 10px;
    border: 1px solid #00786A;
    padding: 9px 11px;
    cursor: pointer;

    align-self: flex-end;

    &:hover {
      background-color: #00786a;
    }
  }
}
